$primary: #0b5708;
// $danger: blue;

@import "/node_modules/bootstrap/scss/bootstrap";

#sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: white;
    border-right: 1px solid black;
}

.custom-container {
    @media (min-width: 992px){
        margin-left: 250px;
        padding-left: 10px;
    }
}

#user-data-alert {
    width: max-content;
    @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        
        .d-flex {
            align-items: center;
        }
        
        span > span {
            width: 100%;
            text-align: center;
        }
    }
}
.transaction-info {
@media (max-width: 991px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
}
.row {
    --bs-gutter-x: 0;
}